.logo{
    border-radius: 50%;
    height: 30px;
}

.logosearch{
    display: flex;
    gap: 0.75rem;
}
.search{
    display: flex;
    background-color: #d6e2ec;
    border-radius: 10px;
    padding: 5px;
}
.search>input{
    background-color: transparent;
    border: none;
    outline: none;
}
.search-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffc008;
    padding: 4px;
    border-radius: 5px;
    color: white;
}
.search-icon:hover{
    cursor: pointer;
}